# Dependency directories
node_modules/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# Project specific secrets and data files
# ⚠️ NEVER COMMIT THESE!
js/config.js
stravadata.txt
*.sqlite
*.sqlite3

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite and Build
dist/
dist-ssr/
*.local

# Typescript
*.tsbuildinfo

# Scora specific
src/config.js
src/config.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.vercel
